<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homemonitor</title>
  <meta charset="utf-8">
  <style>
    /* CSS to go here */
    .centered{
          margin: auto;
          width: 480px;
          padding: 5px 30px;
     }
   </style>
</head>
<body>
<div class="centered">
  <h1 align="center">Home monitoring server</h1>
  {{ status|safe }}
  <div>
  <div style="position: relative; float: left;">
    <img src="https://user-images.githubusercontent.com/{{ image }}.jpg">
  </div>
  <div>
    <font size="+2">
      {{ timestamp }}
      <br>CO2 concentration: <font color="{{ color }}">{{ co2 }} ppm</font>
      <br>Temperature: {{ temp }}&#8451;
      <br>further temperature and humidity sensors will be added soon
    </font>
  <br><br><a href="/log">Data log</a>
  (<a href="/log.csv">csv</a>,&nbsp;<a href="/log.json">json</a>)
  <br><a href="/dashboard">Dashboard</a>
  </div>
  </div>
  <br>Developed by Vladimir Filimonov <a href="https://github.com/vfilimonov/co2meter">https://github.com/vfilimonov/co2meter</a>
  <br>Modified by N. Krieger <a href="https://github.com/GiantMolecularCloud/homemonitor">https://github.com/GiantMolecularCloud/homemonitor</a>
</div>
</body>
</html>
